{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row mt-4 col-sm-6 mb-4">
        <h3 class="text-primary"><i class="fa fa-list-alt"></i> {{ page_title }}</h3>
        <div class="d-none text-primary spinner-border spinner-border-sm mx-3 align-self-center" id="loadingDiv"></div>
    </div>
    <div class="row mb-4">
        <div class="col text-right">
            <a href="{{ path("user_famillecompte_add") }}" class="btn btn-primary"><i class="fas fa-plus-square"></i> Ajouter</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Libellé</th>
                    <th></th>
                </tr>
            </thead>
            {% for familleCompte in familleComptes %}
                <tr>
                    <td>{{ familleCompte.libelle }}</td>
                    <td class="text-right">
                        <a href="{{ path('user_famillecompte_edit', {'id': familleCompte.id}) }}" title="Détails de la famille de comptes" class="btn btn-outline-primary btn-sm mr-2">
                            <i class="fa fa-pen"></i> Editer
                        </a>
                        <a href="#" onclick='del_confirm({{ familleCompte.id }}, "{{ familleCompte.libelle }}")' type="button" class="btn btn-sm btn-outline-danger">
                            <i class="fa fa-trash"></i> Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="modal fade" id="yesNoModal" tabindex="-1" role="dialog" aria-labelledby="yesNoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="yesNoModalLabel">Confirmation</h5>
                </div>
                <div class="modal-body">
                    Supprimer la famille de comptes ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button id="btn_delete" type="button" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Suppression impossible</p>
                    <p>La famille de comptes "<span id="famillecompte_name"></span>" est utilisée.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $("#btn_delete").on("click", function(e) {
        var el = document.querySelector('#btn_delete');
        const id = el.dataset.familleCompteId;

        var url = "{{ path('user_famillecompte_delete', {'id': 0}) }}";
        url = url.replace('0', id);

        window.location.href = url;
    });

    function del_confirm(id, name) {
        document.getElementById('btn_delete').dataset.familleCompteId = id;

        $.ajax({
            url: "{{ path('ajaxCanDeleteFamilleCompte') }}",
            dataType: "json",
            data: {
                "familleCompteId": id
            },

            success: function (reponse)
            {
                if (reponse['data']) {
                    var dialog = $('#yesNoModal');

                    dialog.find('.modal-body').text("Supprimer la famille de comptes " + name + " ?");
                    dialog.modal('show');
                } else {
                    $("#famillecompte_name").html(name);
                    $("#myModal").modal();
                }
            },

            error: function(xhr, textStatus, errorThrown) {
                alert('Ajax request failed.');
            }
        });
    }
</script>
{% endblock %}