{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row mt-4 col-sm-6 mb-4">
        <h3 class="text-primary"><i class="fa fa-users"></i> {{ page_title }}</h3>
        <div class="d-none text-primary spinner-border spinner-border-sm mx-3 align-self-center" id="loadingDiv"></div>
    </div>
    <div class="row mb-4">
        <div class="col text-right">
            <a href="{{ path("user_majeur_add") }}" class="btn btn-primary"><i class="fas fa-plus-square"></i> Ajouter</a>
        </div>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom prénom</th>
                    <th>N° Sécurité Sociale</th>
                    <th>Date de naissance</th>
                    <th>Lieu de naissance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for majeur in majeurs %}
                <tr>
                    <td>{{ majeur }}</td>
                    <td>{{ majeur.numeroSS }}</td>
                    <td>{{ majeur.dateNaissance|date('d/m/Y') }}</td>
                    <td>{{ majeur.lieuNaissance }}</td>
                    <td></td>
                    <td>
                        <div class="row float-right pr-4">
                            <div class="btn-group">
                                <a href="{{ path('user_majeur_show', {'id': majeur.id}) }}" title="Détails du majeur" class="btn btn-primary">
                                    <i class="fa fa-info-circle"></i> Détails
                                </a>
                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path("user_majeur_edit", {"id": majeur.id}) }}">
                                        <i class="fa fa-pen"></i> Editer
                                    </a>
                                    <a class="dropdown-item text-danger" onclick='del_confirm({{ majeur.id }}, "\"{{ majeur.id }}\"{% if majeur is not null %} du {{ majeur.nom }}{% endif %}")' type="button">
                                        <i class="fa fa-trash"></i> Supprimer
                                    </a>
                                </div>
                            </div>
                            <a class="mx-2 btn btn-primary" href="{{ path("user_visites", { "id": majeur.id } ) }}"><i class="fa fa-handshake"></i> Visites</a>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-university"></i> Comptes
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    {% if majeur.donneeBancaireEntities is not empty %}
                                        <div class="dropdown-header">COMPTES</div>
                                        {% for db in majeur.donneeBancaireEntities %}
                                            <a class="dropdown-item" href="{{ path("user_comptesgestion", { 'id': db.id }) }}">
                                                {{ db }}
                                                <span class="ml-3 mr-1 badge badge-info">{{ db.typeCompte.libelle }}</span>
                                                <span class="badge badge-secondary">{{ db.agenceBancaire.codeBanque }}</span>
                                            </a>
                                        {% endfor %}
                                        <div class="dropdown-divider"></div>
                                    {% endif %}
                                    <a class="dropdown-item" href="{{ path("user_donneebancaires", { 'majeur': majeur.id }) }}"><i class="fas fa-file-import"></i> Import d'opérations</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path("user_donneebancaires", { 'majeur': majeur.id }) }}">Gérer</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="yesNoModal" tabindex="-1" role="dialog" aria-labelledby="yesNoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="yesNoModalLabel">Confirmation</h5>
                </div>
                <div class="modal-body">
                    Supprimer le majeur ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button id="btn_delete" type="button" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Suppression impossible</p>
                    <p>La majeur "<span id="majeur_name"></span>" est utilisée.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $("#btn_delete").on("click", function(e) {
        var el = document.querySelector('#btn_delete');
        const id = el.dataset.majeurId;

        window.location.href = "/majeur/delete/" + id;
    });

    function del_confirm(id, name) {
        document.getElementById('btn_delete').dataset.majeurId = id;

        $.ajax({
            url: "#", {#"{{ path('ajaxCanDeleteParcelle') }}",#}
            dataType: "json",
            data: {
                "majeurId": id
            },

            success: function (reponse)
            {
                if (reponse['data']) {
                    var dialog = $('#yesNoModal');

                    dialog.find('.modal-body').text("Supprimer le majeur " + name + " ?");
                    dialog.modal('show');
                } else {
                    $("#majeur_name").html(name);
                    $("#myModal").modal();
                }
            },

            error: function(xhr, textStatus, errorThrown) {
                alert('Ajax request failed.');
            }
        });
    }
</script>
{% endblock %}