{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row mt-4 col-sm-6 mb-4">
        <h3 class="text-primary"><i class="fa fa-users"></i> {{ page_title }}</h3>
        <div class="d-none text-primary spinner-border spinner-border-sm mx-3 align-self-center" id="loadingDiv"></div>
    </div>
    <div class="row mb-4">
        <div class="col text-right">
            <a href="{{ path("user_majeur_add") }}" class="btn btn-primary">Ajouter</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Civilité</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date jugement</th>
                    <th>N° R.G.</th>
                    <th>Début mesure</th>
                    <th>Fin mesure</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for majeur in majeurs %}
                <tr>
                    <td>{{ majeur.civilite }}</td>
                    <td>{{ majeur.nom }}</td>
                    <td>{{ majeur.prenom }}</td>
                    <td>{{ majeur.dateJugement|date("d/m/Y") }}</td>
                    <td>{{ majeur.numeroRG }}</td>
                    <td>{{ majeur.debutMesure|date("d/m/Y") }}</td>
                    <td>{{ majeur.finMesure|date("d/m/Y") }}</td>
                    <td>
                        <a href="{{ path('user_majeur_edit', {'id': majeur.id}) }}" title="Détails du majeur" class="btn btn-outline-primary btn-sm mr-2">
                            <i class="fa fa-info-circle"></i> Détails
                        </a>
                        <div class="btn-group">
                            <a class="btn btn-outline-primary btn-sm" href="{{ path("user_majeur_edit", {"id": majeur.id}) }}">
                                <i class="fa fa-pen"></i> Editer
                            </a>
                            <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-primary" href="{{ path('user_majeur_edit', {'id': majeur.id}) }}">
                                    <i class="fa fa-copy"></i> Compte gestion
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" onclick='del_confirm({{ majeur.id }}, "\"{{ majeur.id }}\"{% if majeur is not null %} du {{ majeur.nom }}{% endif %}")' type="button">
                                    <i class="fa fa-trash"></i> Supprimer
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                </div>
                <div class="modal-body">
                    Supprimer le majeur ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button id="btn_delete" type="button" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Suppression impossible</p>
                    <p>La majeur "<span id="majeur_name"></span>" est utilisée.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $("#btn_delete").on("click", function(e) {
        var el = document.querySelector('#btn_delete');
        const id = el.dataset.majeurId;

        window.location.href = "/majeur/delete/" + id;
    });

    function del_confirm(id, name) {
        document.getElementById('btn_delete').dataset.majeurId = id;

        $.ajax({
            url: "#", {#"{{ path('ajaxCanDeleteParcelle') }}",#}
            dataType: "json",
            data: {
                "majeurId": id
            },

            success: function (reponse)
            {
                if (reponse['data']) {
                    var dialog = $('#exampleModal');

                    dialog.find('.modal-body').text("Supprimer le majeur " + name + " ?");
                    dialog.modal('show');
                } else {
                    $("#majeur_name").html(name);
                    $("#myModal").modal();
                }
            },

            error: function(xhr, textStatus, errorThrown) {
                alert('Ajax request failed.');
            }
        });
    }
</script>
{% endblock %}