{% extends 'generic/new_or_edit.html.twig' %}

{% set icone = "fas fa-users" %}

{% block form_content %}
    {{ form_errors(form) }}
    <h5 class="my-3 text-primary">Civilités</h5>
    {{ form_row(form.civilite) }}
    {{ form_errors(form.civilite) }}
    {{ form_row(form.nom) }}
    {{ form_errors(form.nom) }}
    {{ form_row(form.nomEtatCivil) }}
    {{ form_errors(form.nomEtatCivil) }}
    {{ form_row(form.prenom) }}
    {{ form_errors(form.prenom) }}
    {{ form_row(form.nationalite) }}
    {{ form_errors(form.nationalite) }}
    <div class="row my-3">
        <div class="col-sm-2 col-form-label">
            Date de naissance
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.dateNaissance) }}
            {{ form_errors(form.dateNaissance) }}
        </div>
        <div class="col-sm-2 col-form-label">
            Lieu de naissance
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.lieuNaissance) }}
            {{ form_errors(form.lieuNaissance) }}
        </div>
    </div>
    {{ form_row(form.image) }}
    <h5 class="my-3 text-primary">Adresse et contacts</h5>
    {{ form_widget(form.adresse) }}
    {{ form_errors(form.adresse) }}
    {{ form_widget(form.contact) }}
    {{ form_errors(form.contact) }}
    <h5 class="my-3 text-primary">Sécurité Sociale - Couverture Maladie Universelle</h5>
    {{ form_row(form.numeroSS) }}
    {{ form_errors(form.numeroSS) }}
    {{ form_row(form.dateFinCMU) }}
    {{ form_errors(form.dateFinCMU) }}
    <h5 class="my-3 text-primary">Jugement</h5>
    <div class="row my-3">
        <div class="col-sm-2 col-form-label">
            N° Répertoire Général
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.jugement.numeroRG) }}
            {{ form_errors(form.jugement.numeroRG) }}
        </div>
        <div class="col-sm-2 col-form-label">
            Date du jugement
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.jugement.dateJugement) }}
            {{ form_errors(form.jugement.dateJugement) }}
        </div>
    </div>
    {{ form_row(form.jugement.tribunal) }}
    {{ form_errors(form.jugement.tribunal) }}

    <h5 class="my-3 text-primary">Mesure</h5>
    <div class="row my-3">
        <div class="col-sm-2 px-0">
            {{ form_label(form.jugement.debutMesure) }}
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.jugement.debutMesure) }}
            {{ form_errors(form.jugement.debutMesure) }}
        </div>
        <div class="col-sm-2">
            {{ form_label(form.jugement.finMesure) }}
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.jugement.finMesure) }}
            {{ form_errors(form.jugement.finMesure) }}
        </div>
    </div>
    <h5 class="my-3 text-primary">Paramètres de la mission</h5>
    {{ form_widget(form.parametreMission) }}
    {{ form_errors(form.parametreMission) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script>
	bsCustomFileInput.init();
</script>
{% endblock %}