{% extends 'generic/new_or_edit.html.twig' %}

{% set icone = "fas fa-users" %}

{% block form_content %}
    {{ form_errors(form) }}
    <h5 class="my-3 text-primary">Civilités</h5>
    <div class="row my-3">
        <div class="col-sm-2 col-form-label">
            Civilité
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.civilite) }}
        </div>
        <div class="col-sm-2 col-form-label">
            Prénom
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.prenom) }}
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-2 col-form-label">
            Nom
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.nom) }}
        </div>
        <div class="col-sm-2 col-form-label">
            Nom d'état civil
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.nomEtatCivil) }}
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-2 col-form-label">
            Nationalité
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.nationalite) }}
        </div>
        <div class="col-sm-2 col-form-label">
            N° Sécurité Sociale
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.numeroSS) }}
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-2 col-form-label">
            Date de naissance
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.dateNaissance) }}
            {{ form_errors(form.dateNaissance) }}
        </div>
        <div class="col-sm-2 col-form-label">
            Lieu de naissance
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.lieuNaissance) }}
            {{ form_errors(form.lieuNaissance) }}
        </div>
    </div>
    {{ form_row(form.image) }}
    <h5 class="my-3 text-primary">Adresse</h5>
    {{ form_row(form.adresse.adresse1) }}
    {{ form_row(form.adresse.adresse2) }}
    <div class="row">
        <div class="col-sm-2 align-self-center">
            Code postal
        </div>
        <div class="col-sm-2">
            {{ form_widget(form.adresse.codePostal) }}
        </div>
        <div class="col-sm-1 align-self-center">
            Ville
        </div>
        <div class="col-sm-7">
            {{ form_widget(form.adresse.ville) }}
        </div>
    </div>
    <h5 class="my-3 text-primary">Contacts</h5>
    <div class="row mb-3">
        <div class="col-sm-2 align-self-center">
            Téléphone
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.contact.telephone) }}
        </div>
        <div class="col-sm-2 align-self-center">
            Mobile
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.contact.mobile) }}
        </div>
    </div>
    {{ form_row(form.contact.email) }}
    {#<h5 class="my-3 text-primary">Mesure</h5>
    <div class="row my-3">
        <div class="col-sm-2 col-form-label">
            N° Répertoire Général
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.jugement.numeroRG) }}
            {{ form_errors(form.jugement.numeroRG) }}
        </div>
        <div class="col-sm-2 col-form-label">
            Date du jugement
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.jugement.dateJugement) }}
            {{ form_errors(form.jugement.dateJugement) }}
        </div>
    </div>
    {{ form_row(form.jugement.tribunal) }}
    {{ form_errors(form.jugement.tribunal) }}

    <div class="row my-3">
        <div class="col-sm-2 px-0">
            {{ form_label(form.jugement.debutMesure) }}
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.jugement.debutMesure) }}
            {{ form_errors(form.jugement.debutMesure) }}
        </div>
        <div class="col-sm-2">
            {{ form_label(form.jugement.finMesure) }}
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.jugement.finMesure) }}
            {{ form_errors(form.jugement.finMesure) }}
        </div>
    </div>
    <h5 class="my-3 text-primary">Paramètres de la mission</h5>
    {{ form_widget(form.parametreMission) }}
    {{ form_errors(form.parametreMission) }}
    #}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script>
	bsCustomFileInput.init();
</script>
{% endblock %}