{% extends 'layout_fluid.html.twig' %}

{% block content %}
    <div class="row mb-4 mt-4 offset-2">
        <h3 class="text-primary"><i class="fa fa-info-circle"></i> {{ page_title }} - {{ majeur.prenom }} {{ majeur.nom }}</h3>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <div class="row mt-3">
                <div class="col text-center">
                    <img class="rounded" src="{% if majeur.image %}{{ asset('uploads/' ~ majeur.image) | imagine_filter('squared_thumbnail_small') }}{% else %}{{ asset("images/person-128.png")| imagine_filter('squared_thumbnail_small') }}{% endif %}">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div class="card">
                        <div class="card-header text-white alerte-title">
                            <strong>ALERTES</strong>
                        </div>
                        <div class="card-body alerte-bg">
                            <p><i class="fas fa-bell alerte-icon"></i> Fin C.M.U.</p>
                            <p><i class="fas fa-bell alerte-icon"></i> Fin A.A.H</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-10">
            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header text-white adresse-contact-title">
                            <strong>ADRESSE - CONTACT</strong>
                        </div>
                        <div class="card-body adresse-contact-bg">
                            <div class="row">
                                <div class="col-sm-10 text-secondary mb-2">
                                    <strong>Adresse</strong>
                                </div>
                                <div class="col-sm-2 text-right">
                                    <a href="{{ path("user_majeur_edit_adresse", { "slug": majeur.slug }) }}" class="text-primary px-3 py-1"><i class="fas fa-pen"></i></a>
                                </div>
                            </div>
                            <p><i class="adresse-contact-icon fas fa-map-marker-alt"></i> {{ majeur.adresse.adresse1 }}</p>
                            {% if majeur.adresse.adresse2 is not null %}
                                <p class="ml-3">{{ majeur.adresse.adresse2 }}</p>
                            {% endif %}
                            <p><i class="adresse-contact-icon fas fa-city"></i> {{ majeur.adresse.codePostal }} {{ majeur.adresse.ville }}</p>
                            <hr>
                            <div class="row">
                                <div class="col-sm-10 text-secondary mb-2">
                                    <strong>Contact</strong>
                                </div>
                                <div class="col-sm-2 text-right">
                                    <a href="{{ path("user_majeur_edit_contact", { "slug": majeur.slug }) }}" class="text-primary px-3 py-1"><i class="fas fa-pen"></i></a>
                                </div>
                            </div>
                            <p><i class="adresse-contact-icon fas fa-phone"></i> {{ majeur.contact.telephone }}</p>
                            <p><i class="adresse-contact-icon fas fa-mobile-alt"></i> {{ majeur.contact.mobile }}</p>
                            <p><i class="adresse-contact-icon fas fa-at"></i> {{ majeur.contact.email }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header text-white situation-perso-title">
                            <strong>SITUATION PERSONNELLE</strong>
                        </div>
                        <div class="card-body situation-perso-bg">
                            <p class="card-text">Nom de naissance : {{ majeur.nomEtatCivil }}</p>
                            <p><i class="situation-perso-icon fas fa-birthday-cake"></i> Né(e) le {{ majeur.dateNaissance|date('d/m/Y') }}</p>
                            <p><i class="situation-perso-icon fas fa-city"></i> {{ majeur.lieuNaissance }}</p>
                            <p><i class="situation-perso-icon fas fa-user-shield"></i> S. Sociale {{ majeur.numeroSS }}</p>
                            <hr>
                            <div class="row">
                                <div class="col-sm-10 text-secondary mb-2">
                                    <strong>Obsèques</strong>
                                </div>
                                <div class="col-sm-2 text-right">
                                    <div class="row">
                                        <div class="col text-right">
                                            {% if obseque is null %}
                                                <a href="{{ path("user_majeur_add_obseque", { "slug": majeur.slug }) }}" class="text-primary px-3 py-1"><i class="fas fa-plus-square"></i></a>
                                            {% else %}
                                                <a href="{{ path("user_majeur_edit_obseque", { "slug": majeur.slug }) }}" class="text-primary px-3 py-1"><i class="fas fa-pen"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if obseque is not null %}
                                <p><i class="situation-perso-icon fas fa-store"></i> Pompes funèbres : {{ obseque.pompeFunebre }}</p>
                                <p><i class="situation-perso-icon fas fa-cross"></i> Cimetière : {{ obseque.cimetiere }}</p>
                                <p><i class="situation-perso-icon fas fa-book-dead"></i>Durée concession : {{ obseque.concession }}</p>
                                <p><i class="situation-perso-icon fas fa-tag"></i> Référence concession : {{ obseque.referenceConcession }}</p>
                                <div class="row">
                                    <div class="col text-right">
                                        <a href="{{ path("user_majeur_edit_obseque", { "slug": majeur.slug }) }}" class="btn btn-link">Modifier</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header text-white mesure-title">
                            <strong>MESURE</strong>
                        </div>
                        <div class="card-body mesure-bg">
                            <div class="row">
                                <div class="col-sm-10 text-secondary mb-2">
                                    <strong>Jugement</strong>
                                </div>
                                <div class="col-sm-2 text-right">
                                    <div class="row">
                                        <div class="col text-right">
                                            {% if jugement is null %}
                                                <a href="{{ path("user_majeur_add_mesure", { "slug": majeur.slug }) }}" class="text-primary px-3 py-1"><i class="fas fa-plus-square"></i></a>
                                            {% else %}
                                                <a href="{{ path("user_majeur_edit_mesure", { "slug": majeur.slug }) }}" class="text-primary px-3 py-1"><i class="fas fa-pen"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if jugement is not null %}
                                <p><i class="mesure-icon fas fa-gavel"></i> Tribunal de {{ jugement.tribunal.libelle }}</p>
                                <p><i class="mesure-icon fas fa-folder-open"></i> R.G. {{ jugement.numeroRG }}</p>
                                <p><i class="mesure-icon fas fa-calendar-alt"></i> Mesure du {{ jugement.debutMesure|date('m/d/Y') }} au {{ jugement.finMesure|date('m/d/Y') }}</p>
                            {% endif %}
                            <hr>
                            <div class="row">
                                <div class="col-sm-10 text-secondary mb-2">
                                    <strong>Paramètres de la mission</strong>
                                </div>
                                <div class="col-sm-2 text-right">
                                    <div class="row">
                                        <div class="col text-right">
                                            {% if parametreMission is null %}
                                                <a href="{{ path("user_majeur_add_parametre_mission", { "slug": majeur.slug }) }}" class="text-primary px-3 py-1"><i class="fas fa-plus-square"></i></a>
                                            {% else %}
                                                <a href="{{ path("user_majeur_edit_parametre_mission", { "slug": majeur.slug }) }}" class="text-primary px-3 py-1"><i class="fas fa-pen"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if parametreMission is not null %}
                                <p>{{ parametreMission.mesure.code }} - {{ parametreMission.mesure.libelle }}</p>
                                <p>{{ parametreMission.protection.libelle }}</p>
                                <p><i class="mesure-icon fas fa-home"></i> {{ parametreMission.lieuVie.libelle }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header text-white donnee-bancaire-title">
                            <div class="row">
                                <div class="col-sm-10">
                                    <strong>DONNEES BANCAIRES</strong>
                                </div>
                                <div class="col-sm-2 text-right">
                                    <a href="{{ path("user_majeur_add_donnee_bancaire", { "slug": majeur.slug }) }}" class="py-1 px-2"><i class="text-light fas fa-plus-square"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body donnee-bancaire-bg">
                            {% if majeur.donneeBancaireEntities is not empty %}
                                {% for db in majeur.donneeBancaireEntities %}
                                    <p>
                                        <i class="donnee-bancaire-icon fas fa-university"></i> {{ db }}
                                        <span class="ml-3 mr-1 badge badge-info">{{ db.typeCompte.libelle }}</span>
                                        <span class="badge badge-secondary">{{ db.agenceBancaire.codeBanque }}</span>
                                    </p>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            {% if db.agenceBancaire.conseiller is not null%}
                                                <i class="donnee-bancaire-icon text-secondary fas fa-user"></i> {{ db.agenceBancaire.conseiller }}
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-4">
                                            {% if db.agenceBancaire.contact.telephone is not null%}
                                                <i class="donnee-bancaire-icon text-secondary fas fa-phone"></i> {{ db.agenceBancaire.contact.telephone }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if not loop.last %}
                                        <hr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header text-white protection-title">
                            <div class="row">
                                <div class="col-sm-10">
                                    <strong>PRISES EN CHARGE</strong>
                                </div>
                                <div class="col-sm-2 text-right">
                                    <a href="{{ path("user_majeur_add_prise_en_charge", { "slug": majeur.slug }) }}" class="py-1 px-2"><i class="text-light fas fa-plus-square"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body protection-bg">
                            {% for pec in prisesEnCharge %}
                                <div class="row">
                                    <div class="col-sm-9">
                                        <i class="protection-icon fas fa-life-ring"></i> {{ pec.typePriseEnCharge.libelle }}
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        <a href="{{ path("user_majeur_edit_prise_en_charge", { "slug": majeur.slug }) }}" class="text-primary px-3 py-1"><i class="fas fa-pen"></i></a>
                                        <a href="#" onclick='del_confirm("pec", {{ pec.id }}, "Supprimer la prise en charge \"{{ pec.typePriseEnCharge.libelle }}\" ?")' class="text-danger px-3 py-1"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                                {% if not loop.last %}
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header text-light contact-externe-title">
                            <div class="row">
                                <div class="col-sm-10">
                                    <strong>CONTACTS PRINCIPAUX</strong>
                                </div>
                                <div class="col-sm-2 text-right">
                                    <a href="{{ path("user_majeur_add_contact_externe", { "slug": majeur.slug }) }}" class="py-1 px-2"><i class="text-light fas fa-plus-square"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body contact-externe-bg">
                            {% for contactExterne in contactExternes %}
                                <div class="row">
                                    <div class="col-sm-9">
                                        <i class="contact-externe-icon fas fa-user"></i> {{ contactExterne.nom }}
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        <a href="{{ path("user_majeur_edit_contact_externe", { "slug": majeur.slug }) }}" class="text-primary px-3 py-1"><i class="fas fa-pen"></i></a>
                                        <a href="#" onclick='del_confirm("contactExterne", {{ contactExterne.id }}, "Supprimer le contact externe \"{{ contactExterne.nom }}\" ?")' class="text-danger px-3 py-1"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <i class="contact-externe-icon fas fa-phone"></i> {{ contactExterne.contact.telephone }}
                                    </div>
                                </div>
                                {% if not loop.last %}
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row float-right mx-0 mb-3">
        <a class="mr-2" href="{{ url_back }}">Retour à la liste</a>
    </div>

    <div class="modal fade" id="yesNoModal" tabindex="-1" role="dialog" aria-labelledby="yesNoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="yesNoModalLabel">Confirmation</h5>
                </div>
                <div class="modal-body">
                    Supprimer ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button id="btn_delete" type="button" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

<script type="text/javascript">
    function del_confirm(kind, id, msg) {
        var el = document.getElementById('btn_delete');
        el.dataset.id = id;
        el.dataset.kind = kind;

        var dialog = $('#yesNoModal');

        dialog.find('.modal-body').text(msg);
        dialog.modal('show');
    }

    $("#btn_delete").on("click", function(e) {
        var el = document.querySelector('#btn_delete');
        const id = el.dataset.id;
        const kind = el.dataset.kind;

        var url = "#";
        switch (kind) {
            case "contactExterne":
                var url = "{{ path("user_majeur_delete_contact_externe", { 'id': 0 }) }}";
                break;
            case "pec":
                var url = "{{ path("user_majeur_delete_prise_en_charge", { 'id': 0 }) }}";
                break;
        }
        url = url.replace("0", id);
        window.location.href = url;
    });
</script>
{% endblock %}
