{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row mb-4 mt-4">
        <h3 class="text-primary"><i class="{{ icone }}"></i> {{ page_title }}</h3>
    </div>
    {{ form_start(form) }}
        {% block form_content %}
        {% endblock %}

        <div class="row">
            <div class="col-2">
                <small>Date de création</small>
            </div>
            <div class="col-10">
                <small>{{ baseEntity.dateCreation|date("d/m/Y H:i:s") }}</small>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <small>Date de modification</small>
            </div>
            <div class="col-10">
                <small>{{ baseEntity.dateModification|date("d/m/Y H:i:s") }}</small>
            </div>
        </div>

        <div class="row float-right mb-3">
            <div class="col">
                <a class="mr-2" href="{{ url_back }}">Retour à la liste</a>
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Valider</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}