{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
    @media print {
        .new-page {
            page-break-before: always;
        }
    }
    </style>
{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    {% include 'rapport/entete.html.twig' with
        {
            'debut': debut,
            'fin': fin
        }
    %}
    <div class="row mt-5">
        <div class="col-6">
            <strong>NOM Prénom du majeur :</strong>
        </div>
        <div class="col-3">
            <strong>TRIBUNAL D'INSTANCE DE</strong>
        </div>
        <div class="col-3">
            {{ majeur.jugement.tribunal.libelle }}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            {{ majeur.nom }} {{ majeur.prenom }}
        </div>
        <div class="col-3">
            <strong>DOSSIER n°</strong>
        </div>
        <div class="col-3">
            {{ majeur.jugement.numeroRG }}
        </div>
    </div>

    <div class="row">
        <div class="offset-6 col-3">
            <strong>Nature</strong>
        </div>
        <div class="col-3">
            {{ majeur.parametreMission.protection.libelle }}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-6">
            <strong>Adresse du majeur protégé :</strong>
        </div>
        <div class="col-6">
            <strong>Dossier confié par le Juge des Tutelles à :</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {% include 'generic/adresse.html.twig' with
                {
                    'adresse': majeur.adresse
                }
            %}
        </div>
        <div class="col-6">
            {% include 'generic/adresse.html.twig' with
                {
                    'adresse': majeur.adresse
                }
            %}
        </div>
    </div>

    <p class="mt-5">J'ai l'honneur de vous rappeler que, conformément aux dispositions des art. 472 , 510 à et 513 du Civil,
    le MJPM tuteur ou curateur doit soumettre chaque année le compte de gestion, accompagné des pièces justificatives,
    en vue de sa vérification, au greffier en chef.
    <p>A cet effet, vous voudrez bien compléter et me faire retour du présent document,
    accompagné des pièces justificatives suivantes : copie du relevé de compte courant, début et fin d'exercice,
    copies des avoirs financiers de fin d'exercice, copie du justificatif de la ressource principale (1er compte rendu),
    copie de la fiche de  participation financière du MP, copie des justificatifs des dépenses importantes.</p>

<p class="new-page">&nbsp;</p>
    {% include 'rapport/entete.html.twig' with
        {
            'debut': debut,
            'fin': fin
        }
    %}
    <h4 class="mt-5 mb-3">I. Situation du patrimoine au dernier jour de l'exercice précédent</h4>

    {% if comptesPrecedents is not empty %}
        <table class="table table-bordered">
            {% for compte in comptesPrecedents %}
            <tr>
                <td class="col-8">{{ compte.typeCompte }}</td>
                <td class="col-4 text-right">{{ compte.solde|format_currency('EUR') }}</td>
            </tr>
            {% endfor %}
            <tr class="bg-light">
                <td class="col-8"><strong>Total</strong></td>
                <td class="col-4 text-right"><strong>{{ totalPrecedent|format_currency('EUR') }}</strong></td>
            </tr>
        </table>
    {% else %}
        Aucune information à présenter
    {% endif %}

<p class="new-page mt-5">&nbsp;</p>
    {% include 'rapport/entete.html.twig' with
        {
            'debut': debut,
            'fin': fin
        }
    %}
    <h4 class="mt-5 mb-3">II. Recettes de l'exercice</h4>
    <table class="table table-bordered">
        {% for recette in recettes %}
        <tr>
            <td>{{ recette.libelle }}</td>
            <td class="col-4 text-right">{{ recette.montant|format_currency('EUR') }}</td>
        </tr>
        {% endfor %}
        <tr class="bg-light">
            <td class="col-8"><strong>Total</strong></td>
            <td class="col-4 text-right"><strong>{{ totalRecettes|format_currency('EUR') }}</strong></td>
        </tr>
    </table>

<p class="new-page mt-5">&nbsp;</p>
    {% include 'rapport/entete.html.twig' with
        {
            'debut': debut,
            'fin': fin
        }
    %}
    <h4 class="mt-5 mb-3">III. Dépenses de l'exercice</h4>
    <table class="table table-bordered table-condensed">
        {% for depense in depenses %}
        <tr>
            <td class="col-8">{{ depense.libelle }}</td>
            <td class="col-4 text-right">{{ depense.montant|format_currency('EUR') }}</td>
        </tr>
        {% endfor %}
        <tr class="bg-light">
            <td class="col-8"><strong>Total</strong></td>
            <td class="col-4 text-right"><strong>{{ totalDepenses|format_currency('EUR') }}</strong></td>
        </tr>
    </table>

<p class="new-page mt-5">&nbsp;</p>
    {% include 'rapport/entete.html.twig' with
        {
            'debut': debut,
            'fin': fin
        }
    %}
    <h4 class="mt-5 mb-3">IV. Balance de trésorerie</h4>

<p class="new-page mt-5">&nbsp;</p>
    {% include 'rapport/entete.html.twig' with
        {
            'debut': debut,
            'fin': fin
        }
    %}
    <h4 class="mt-5 mb-3">V. Mouvements du patrimoine de l'exercice</h4>

<p class="new-page mt-5">&nbsp;</p>
    {% include 'rapport/entete.html.twig' with
        {
            'debut': debut,
            'fin': fin
        }
    %}
    <h4 class="mt-5 mb-3">VI. Situation du patrimoine au dernier jour de l'exercice</h4>

    <table class="table table-bordered">
    {% for compte in comptesCourants %}
        <tr>
            <td class="col-8">{{ compte.typeCompte }}</td>
            <td class="col-4 text-right">{{ compte.solde|format_currency('EUR') }}</td>
        </tr>
    {% endfor %}
        <tr class="bg-light">
            <td class="col-8"><strong>Total</strong></td>
            <td class="col-4 text-right"><strong>{{ totalCourant|format_currency('EUR') }}</strong></td>
        </tr>
    </table>
<p class="new-page mt-5">&nbsp;</p>
    {% include 'rapport/entete.html.twig' with
        {
            'debut': debut,
            'fin': fin
        }
    %}
    <h4 class="mt-5 mb-3">VII. Rapport annuel / Exercice de la mesure de protection (AD / MJPM)</h4>
</div>
{% endblock %}
