{% extends 'layout.html.twig' %}

{% block title %}Hello ImportCompteGestionController!{% endblock %}

{% block content %}
    <div class="row mt-4 col-sm-6 mb-4">
        <h3 class="text-primary"><i class="fas fa-file-csv"></i> {{ page_title }}</h3>
        <div class="d-none text-primary spinner-border spinner-border-sm mx-3 align-self-center" id="loadingDiv"></div>
    </div>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.majeur) }}
    {{ form_row(form.donneeBancaire) }}
    {{ form_row(form.nomFichier) }}
        <div class="row float-right mb-3">
            <div class="col">
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Valider</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

<script type="text/javascript">
    $('.custom-file-input').on('change', function() {
    let fileName = $(this).val().split('\\').pop();
       $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });

    let majeurs = $('#import_compte_gestion_majeur');

    majeurs.change(function () {
        let form = $(this).closest('form');
      // Simulate form data, but only include the selected variete value.
        let data = {};
        data[majeurs.attr('name')] = majeurs.val();

        $.ajax({
            url : form.attr('action'),
            type: form.attr('method'),
            data : data,
            success: function(html) {
                $("#import_compte_gestion_donneeBancaire").replaceWith(
                    $(html).find("#import_compte_gestion_donneeBancaire")
                );
            }
        });
    });
</script>
{% endblock %}
