{% extends 'generic/new_or_edit.html.twig' %}

{% set icone = "fas fa-life-ring" %}

{% block form_content %}
    {{ form_errors(form) }}
    {{ form_row(form.code) }}
    {{ form_row(form.libelle) }}
    <div class="form-group row">
        {{ form_label(form.seuilAlerte) }}
        <div class="col-sm-8">
            {{ form_widget(form.seuilAlerte) }}
            {{ form_errors(form.seuilAlerte) }}
        </div>
        <div class="col-sm-2">
            <span id="sliderValue">
            </span>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
    var slider = document.getElementById("type_prise_en_charge_seuilAlerte");
    var output = document.getElementById("sliderValue");
    output.innerHTML = slider.value;

    slider.oninput = function() {
        output.innerHTML = this.value;
    }
</script>
{% endblock %}