{% extends 'layout_fluid.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
    <div class="row my-4">
        <div class="col-sm-6 offset-2">
            <h3 class="text-primary"><i class="fa fa-tasks"></i> {{ page_title }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 mt-2">
            {{ form_start(form) }}
                {{ form_row(form.dateDebut) }}
                {{ form_row(form.dateFin) }}
                {{ form_row(form.libelle) }}
                {{ form_row(form.typeOperation) }}
                {{ form_row(form.familleTypeOperation) }}
                {{ form_row(form.nature) }}
                {{ form_row(form.montant) }}
                <div class="float-right mt-3">
                    <button id="btn_filtrer" type="submit" class="btn btn-outline-secondary">
                        <i class="fa fa-filter"></i> Appliquer</button>
                    <button id="btnClearFilters" type="button" class="btn btn-outline-secondary">
                        <i class="fas fa-times"></i></button>
                </div>
            {{ form_end(form) }}
        </div>
        <div class="col-sm-8">
            <div class="row my-3">
                <div class="count col-sm-6 align-self-center small">
                    {% if pagination.items|length > 0 %}
                        {% if pagination.items|length == 1 %}
                            Une opération
                        {% else %}
                            {% set items = (pagination.getCurrentPageNumber - 1) * pagination.getItemNumberPerPage + 1 %}
                            {{ items }} à {{ items + pagination.items|length - 1 }}
                            sur {{ pagination.getTotalItemCount }} opérations
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-sm-6 text-right">
                    <button type="button" id="btn_importer" class="btn btn-outline-primary mr-3"><i class="fas fa-file-csv"></i> Importer</button>
                    <a href="{{ path("user_comptegestion_add", { "donneeBancaire": donneeBancaire.id }) }}" class="btn btn-primary"><i class="fas fa-plus-square"></i> Ajouter</a>
                </div>
            </div>

            {% if pagination.items|length == 0 %}
                <div class="alert alert-info mt-3">Aucune opération</div>
            {% else %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Libellé</th>
                            <th>Montant</th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for operation in pagination %}
                        <tr>
                            <td>{{ operation.date|date('d/m/Y') }}</td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        {{ operation.libelle }}
                                    </div>
                                </div>
                                <div class="row text-secondary">
                                    <div class="col">
                                        <small>{{ operation.typeOperation.libelle }} - {{ operation.typeOperation.familleTypeOperation.libelle }}</small>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right">{% if operation.nature == 1 %}+{% else %}-{% endif %}{{ operation.montant|format_currency('EUR') }}</td>
                            <td class="text-right">
                                <a href="{{ path('user_comptegestion_edit', {'compteGestion': operation.id}) }}" title="Détails de la operation" class="btn btn-outline-primary btn-sm mr-2">
                                    <i class="fa fa-pen"></i> Editer
                                </a>
                                <a href="#" onclick='del_confirm({{ operation.id }}, "{{ operation.typeOperation.libelle }} du {{ operation.date|date("d/m/Y") }}")' type="button" class="btn btn-sm btn-outline-danger">
                                    <i class="fa fa-trash"></i> Supprimer
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="row align-items-center">
                    <div class="col-sm-8 offset-2 pagination justify-content-center pt-3">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                    <div class="col-sm-2 text-right">
                        <a class="mr-2 align-self-center" href="{{ path("user_majeurs")}}">Retour à la liste</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="yesNoModal" tabindex="-1" role="dialog" aria-labelledby="yesNoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="yesNoModalLabel">Confirmation</h5>
                </div>
                <div class="modal-body">
                    Supprimer l'opération ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button id="btn_delete" type="button" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </div>

    {{ form_start(formImport) }}
    <div class="modal" tabindex="-1" role="dialog" id="selectFileModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Importer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_errors(formImport) }}
                    {{ form_row(formImport.nomFichier) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Valider</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(formImport) }}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $('.custom-file-input').on('change', function() {
    let fileName = $(this).val().split('\\').pop();
       $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });

    $("#btn_importer").on("click", function(e) {
        $('#selectFileModal').modal('show');
    });

    $("#btn_delete").on("click", function(e) {
        var el = document.querySelector('#btn_delete');
        const id = el.dataset.operationId;

        var url = "{{ path("user_comptegestion_delete", {"id": 0}) }}";
        url = url.replace('0', id);

        window.location.href = url;
    });

    $('#btnClearFilters').on('click', function(e) {
        $.ajax({
            url: "{{ path('ajaxCompteGestionClearFilter') }}",
            dataType: "json",
            data: {
                clearCompteGestionFilter: 1
            },

            success: function (reponse)
            {
                window.location.href = "{{ path("user_comptesgestion", { "id": donneeBancaire.id }) }}";
            },
        });
    });

    function del_confirm(id, name) {
        document.getElementById('btn_delete').dataset.operationId = id;

        var dialog = $('#yesNoModal');

        dialog.find('.modal-body').text("Supprimer l'opération " + name + " ?");
        dialog.modal('show');
    }
</script>
{% endblock %}