{% extends 'generic/new_or_edit.html.twig' %}

{% set icone = "fas fa-tasks" %}

{% block form_content %}
    <div class="alert alert-primary">Majeur: {{ baseEntity.donneeBancaire.majeur }}</div>

    {{ form_errors(form) }}
    {{ form_row(form.donneeBancaire) }}
    {{ form_row(form.date) }}
    {{ form_row(form.libelle) }}
    {{ form_row(form.typeOperation) }}
    {{ form_row(form.nature) }}
    {{ form_row(form.montant) }}
{% endblock %}