{% extends 'layout.html.twig' %}

{% block title %}Hello ImportCompteGestionController!{% endblock %}

{% block content %}
    <div class="row mt-4 mb-4">
        <h3 class="text-primary"><i class="fas fa-file-csv"></i> {{ page_title }} - {{ donneeBancaire.majeur.nom }} {{ donneeBancaire.majeur.prenom }} - Compte n° {{ donneeBancaire.numeroCompte }}</h3>
        <div class="d-none text-primary spinner-border spinner-border-sm mx-3 align-self-center" id="loadingDiv"></div>
    </div>

    {% if comptesGestion.ok is not empty %}
        <div class="alert alert-success">
            Imports effectués <span class="badge badge-success">{{ comptesGestion.ok|length }}</span>
        </div>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Libellé</th>
                <th>Type d'opération</th>
                <th>Montant</th>
            </tr>
        </thead>
        <tbody>
        {% for compteGestion in comptesGestion.ok %}
            <tr>
                <td>{{ compteGestion.date|date('d/m/Y') }}</td>
                <td>{{ compteGestion.libelle|length > 50 ? compteGestion.libelle|slice(0, 50) ~ '...' : compteGestion.libelle }}</td>
                <td>{{ compteGestion.typeOperation.libelle }}</td>
                <td class="text-right">{% if compteGestion.nature == 1 %}+{% else %}-{% endif %}{{ compteGestion.montant|format_currency('EUR') }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
    {% if comptesGestion.ko is not empty %}
        <div class="alert alert-warning">
            Imports non valides <span class="badge badge-warning">{{ comptesGestion.ko|length }}</span>
        </div>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Libellé</th>
                <th>Type d'opération</th>
                <th>Montant</th>
            </tr>
        </thead>
        <tbody>
        {% for compteGestion in comptesGestion.ko %}
            <tr>
                <td>{{ compteGestion.date|date('d/m/Y') }}</td>
                <td>{{ compteGestion.libelle|length > 50 ? compteGestion.libelle|slice(0, 50) ~ '...' : compteGestion.libelle }}</td>
                <td>{% if compteGestion.typeOperation is not null %}{{ compteGestion.typeOperation.libelle }}{% endif %}</td>
                {% if compteGestion.typeOperation is not null %}
                    <td class="text-right">{% if compteGestion.nature == 1 %}+{% else %}-{% endif %}{{ compteGestion.montant|format_currency('EUR') }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}

    <div class="row float-right mb-3">
        <div class="col">
            <a class="mr-2" href="{{ url_back }}">Retour à la liste</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

<script type="text/javascript">
    $('.custom-file-input').on('change', function() {
    let fileName = $(this).val().split('\\').pop();
       $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });
</script>
{% endblock %}
