{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row mt-4 col-sm-6 mb-4">
        <h3 class="text-primary"><i class="fa fa-file-alt"></i> {{ page_title }}</h3>
        <div class="d-none text-primary spinner-border spinner-border-sm mx-3 align-self-center" id="loadingDiv"></div>
    </div>
    <div class="row mb-4">
        <div class="col text-right">
            <a href="{{ path("user_document_add") }}" class="btn btn-primary"><i class="fas fa-plus-square"></i> Ajouter</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Majeur</th>
                    <th>Libellé</th>
                    <th>Observations</th>
                    <th></th>
                </tr>
            </thead>
            {% for document in documents %}
                <tr>
                    <td>{{ document.majeur }}</td>
                    <td>{{ document.libelle }}</td>
                    <td>{{ document.observations }}</td>
                    <td class="text-right">
                        <a href="{{ asset('uploads/docs/' ~ document.fichier) }}" target="blank" class="btn btn-primary btn-sm"><i class="fa fa-file-download"></i> Visualiser</a>
                        <a href="{{ path('user_document_edit', {'id': document.id}) }}" title="Détails du document" class="btn btn-outline-primary btn-sm mx-2">
                            <i class="fa fa-pen"></i> Editer
                        </a>
                        <a href="#" onclick='del_confirm({{ document.id }}, "{{ document.libelle }}")' type="button" class="btn btn-sm btn-outline-danger">
                            <i class="fa fa-trash"></i> Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="modal fade" id="yesNoModal" tabindex="-1" role="dialog" aria-labelledby="yesNoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="yesNoModalLabel">Confirmation</h5>
                </div>
                <div class="modal-body">
                    Supprimer la document ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button id="btn_delete" type="button" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $("#btn_delete").on("click", function(e) {
        var el = document.querySelector('#btn_delete');
        const id = el.dataset.documentId;

        var url = "{{ path('user_document_delete', { 'id': 0 }) }}";
        url = url.replace('0', id);

        window.location.href = url;
    });

    function del_confirm(id, name) {
        document.getElementById('btn_delete').dataset.documentId = id;

        var dialog = $('#yesNoModal');

        dialog.find('.modal-body').text("Supprimer le document " + name + " ?");
        dialog.modal('show');
    }
</script>
{% endblock %}