{% extends 'generic/new_or_edit.html.twig' %}

{% set icone = "fas fa-file-alt" %}

{% block form_content %}
    {{ form_errors(form) }}
    {{ form_row(form.majeur) }}
    {{ form_row(form.libelle) }}
    {{ form_row(form.observations) }}
    {% if baseEntity is not null and baseEntity.fichier is not null %}
        <div class="form-row form-group">
            <div class="col-sm-2 col-form-label">
                Fichier actuel
            </div>
            <div class="col-sm-8 ml-1 mt-1">
                {{ baseEntity.fichier }}
            </div>
        </div>
    {% endif %}
    {{ form_row(form.fichier) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script>
	bsCustomFileInput.init();
</script>
{% endblock %}