{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row mt-4 col-sm-6 mb-4">
        <h3 class="text-primary"><i class="fas fa-university"></i> {{ page_title }}</h3>
        <div class="d-none text-primary spinner-border spinner-border-sm mx-3 align-self-center" id="loadingDiv"></div>
    </div>
    <div class="row mb-4">
        <div class="col text-right">
            <a href="{{ path("user_donneebancaire_add") }}" class="btn btn-primary"><i class="fas fa-plus-square"></i> Ajouter</a>
        </div>
    </div>
    <div class="alert alert-primary">Majeur: {{ majeur }}</div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Agence bancaire</th>
                <th>Numéro de compte</th>
                <th>Solde courant</th>
                <th>Solde précédent</th>
                <th></th>
            </tr>
        </thead>
        {% for donneebancaire in donneebancaires %}
            <tr>
                <td>
                    <div class="row">
                        <div class="col">
                            {{ donneebancaire.agenceBancaire }}
                        </div>
                    </div>
                    <div class="row text-secondary">
                        <div class="col">
                            <small>{{ donneebancaire.agenceBancaire.codeBanque }}</small>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col">
                            {{ donneebancaire.numeroCompte }}
                        </div>
                    </div>
                    <div class="row text-secondary">
                        <div class="col">
                            <small>{{ donneebancaire.typeCompte.libelle }}</small>
                        </div>
                    </div>
                </td>
                <td class="text-right">{{ donneebancaire.soldeCourant|format_currency('EUR') }}</td>
                <td class="text-right">{{ donneebancaire.soldePrecedent|format_currency('EUR') }}</td>
                <td class="text-right">
                    <a href="{{ path('user_donneebancaire_edit', {'id': donneebancaire.id}) }}" title="Détails de la donnée bancaire" class="btn btn-outline-primary btn-sm mr-2">
                        <i class="fa fa-pen"></i> Editer
                    </a>
                    <a href="#" onclick='del_confirm({{ donneebancaire.id }}, "{{ donneebancaire.numeroCompte }}")' type="button" class="btn btn-sm btn-outline-danger">
                        <i class="fa fa-trash"></i> Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                </div>
                <div class="modal-body">
                    Supprimer la donnée bancaire ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button id="btn_delete" type="button" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Suppression impossible</p>
                    <p>La donnée bancaire "<span id="donneebancaire_name"></span>" est utilisée.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $("#btn_delete").on("click", function(e) {
        var el = document.querySelector('#btn_delete');
        const id = el.dataset.donneebancaireId;

        window.location.href = "/donneebancaire/delete/" + id;
    });

    function del_confirm(id, name) {
        document.getElementById('btn_delete').dataset.donneebancaireId = id;

        $.ajax({
            url: "#", {#"{{ path('ajaxCanDeleteParcelle') }}",#}
            dataType: "json",
            data: {
                "donneebancaireId": id
            },

            success: function (reponse)
            {
                if (reponse['data']) {
                    var dialog = $('#exampleModal');

                    dialog.find('.modal-body').text("Supprimer la donnée bancaire " + name + " ?");
                    dialog.modal('show');
                } else {
                    $("#donneebancaire_name").html(name);
                    $("#myModal").modal();
                }
            },

            error: function(xhr, textStatus, errorThrown) {
                alert('Ajax request failed.');
            }
        });
    }
</script>
{% endblock %}