{% extends 'layout_fluid.html.twig' %}

{% block content %}
    <div class="row my-4">
        <div class="col-sm-4 offset-2">
            <h3 class="text-primary"><i class="fas fa-calendar-check"></i> {{ page_title }} - {{ majeur }}</h3>
        </div>
        <div class="col-sm-4 text-right">
            <button data-annee="{{ annee - 1 }}" type="button" class="btn-add-annee btn btn-outline-primary px-3 mr-3"><i class="fa fa-backward"></i></button>
            <strong><span id="lbl_annee">{{ annee }}</span></strong>
            <button data-annee="{{ annee + 1 }}" type="button" class="btn-add-annee btn btn-outline-primary px-3 ml-3"><i class="fa fa-forward"></i></button>
        </div>
    </div>
    <input type="hidden" id="cur_annee" value="{{ annee }}"></input>
    <div class="row">
        <div class="col-sm-2">
            <p>Marquer comme :</p>
            <div class="row">
                <div class="col offset-1">
                    <input name="presence" type="radio" id="radio_present" value="1" checked>
                    <label for="radio_present"><h5><span class="badge bg-success text-light p-2"><i class="fas fa-map-marker-alt"></i> Présent</span></h5></label>
                </div>
            </div>
            <div class="row">
                <div class="col offset-1">
                    <input name="presence" type="radio" id="radio_absent" value="2">
                    <label for="radio_absent"><h5><span class="badge alerte-title text-light p-2"><i class="fas fa-user-times"></i> Absent</span></h5></label>
                </div>
            </div>
            <div class="row">
                <div class="col offset-1">
                    <input name="presence" type="radio" id="radio_effacer" value="0">
                    <label for="radio_effacer"><h5><span class="badge badge-light p-2"><i class="fas fa-calendar-times"></i> Effacer</span></h5></label>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
            {% for mois, jours in calendrier %}
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col ml-3">
                            <strong>{{ ('month.' ~ mois)|trans }}</strong>
                        </div>
                    </div>
                    <table class="table table-borderless table-sm">
                        <thead>
                            <tr>
                                <td class="text-center text-secondary">L</td>
                                <td class="text-center text-secondary">M</td>
                                <td class="text-center text-secondary">M</td>
                                <td class="text-center text-secondary">J</td>
                                <td class="text-center text-secondary">V</td>
                                <td class="text-center text-secondary">S</td>
                                <td class="text-center text-secondary">D</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            {% for key, jour in jours %}
                                {% if jour.presence > 0 %}
                                    <td class="text-light m-0">
                                        <button type="button" data-mois="{{ mois }}" data-jour="{{ jour.numero }}" style="width:100%;" class="jour p-0 btn {% if jour.presence == 1 %}btn-success{% else %}alerte-title{% endif %} text-light font-weight-bold">{{ jour.numero }}</button>
                                    </td>
                                {% else %}
                                    {% if jour.numero is empty %}
                                        <td>
                                        </td>
                                    {% else %}
                                        <td class="m-0">
                                            <button type="button" data-mois="{{ mois }}" data-jour="{{ jour.numero }}" style="width:100%;" class="jour p-0 btn">{{ jour.numero }}</button>
                                        </td>
                                    {% endif %}
                                {% endif %}
                                {% if loop.index is divisible by (7) %}
                                    </tr>
                                    <tr>
                                {% endif %}
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% if loop.index is divisible by (4) %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-2 mb-4 text-right">
            <a class="mr-2 align-self-center" href="{{ url_back }}">Retour à la liste</a>
        </div>
    </div>

    <div id="mySmallModal" class="modal bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="text-primary spinner-border spinner-border-sm align-self-center my-3"></div>
                <div id="modal_text" class="text-center text-secondary mb-2">Enregistrement</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(".btn-add-annee").click(function(event) {
        let dialog = $('#mySmallModal');
        dialog.find("#modal_text").text("Chargement");
        dialog.modal('show');

        let annee = this.dataset.annee;
        let url = "{{ path("user_visites", { "id": majeur.id, "annee": 0 }) }}";
        url = url.replace("0", annee);

        window.location.href = url;
    });

    $(".jour").click(function(event) {
        let dialog = $('#mySmallModal');
        dialog.modal('show');
         {# $('.modal-backdrop').removeClass("modal-backdrop"); #}

        const mois = this.dataset.mois;
        const jour = this.dataset.jour;
        const annee = $("#cur_annee").val();
        const presence = $('input[name="presence"]:checked').val();

        $.ajax({
            url: "{{ path('ajax_visite_toggle_visite') }}",
            dataType: "json",
            data: {
                "jour": jour,
                "mois": mois,
                "annee": annee,
                "presence": presence,
                "majeurId": {{ majeur.id }}
            },

            success: function (reponse)
            {
                switch(reponse['data']) {
                    case "1":
                        $(event.target).removeClass('alerte-title');
                        $(event.target).addClass('btn-success');
                        $(event.target).addClass('font-weight-bold');
                        $(event.target).addClass('text-light');
                        break;
                    case "2":
                        $(event.target).removeClass('btn-success');
                        $(event.target).addClass('alerte-title');
                        $(event.target).addClass('font-weight-bold');
                        $(event.target).addClass('text-light');
                        break;
                    default:
                        $(event.target).removeClass('btn-success');
                        $(event.target).removeClass('alerte-title');
                        $(event.target).removeClass('font-weight-bold');
                        $(event.target).removeClass('text-light');
                        break;
                }
                dialog.modal('hide');
            },

            error: function(xhr, textStatus, errorThrown) {
                dialog.modal('hide');
            }
        });
    });
</script>
{% endblock %}