{% extends 'layout_fluid.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
    <div class="row my-4">
        <div class="col-sm-6 offset-2">
            <h3 class="text-primary"><i class="fas fa-calendar-check"></i> {{ page_title }}</h3>
        </div>
    </div>
    {{ form_start(form, {'attr': {'id': 'form_calendrier'}}) }}
    <div class="row">
         <div class="col-sm-2 mt-2">
            {{ form_row(form.annee) }}
            {{ form_row(form.jour) }}
            {{ form_row(form.mois) }}
            {{ form_row(form.majeurId) }}
            <div class="float-right mt-3">
                <button id="btn_filtrer" type="submit" class="btn btn-outline-secondary"><i class="fa fa-filter"></i> Appliquer</button>
                <button id="btnClearFilters" type="button" class="btn btn-outline-secondary"><i class="fas fa-times"></i></button>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
            {% for mois, jours in calendrier %}
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col ml-3">
                            <strong>{{ ('month.' ~ mois)|trans }}</strong>
                        </div>
                    </div>
                    <table class="table table-borderless table-sm">
                        <thead>
                            <tr>
                                <td class="text-center text-secondary">L</td>
                                <td class="text-center text-secondary">M</td>
                                <td class="text-center text-secondary">M</td>
                                <td class="text-center text-secondary">J</td>
                                <td class="text-center text-secondary">V</td>
                                <td class="text-center text-secondary">S</td>
                                <td class="text-center text-secondary">D</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            {% for key, jour in jours %}
                                {% if jour.visite %}
                                    <td class="text-light m-0">
                                        <button type="button" data-visite=1 data-mois="{{ mois }}" data-jour="{{ jour.numero }}" style="width:100%;" data-backdrop="static" class="jour p-0 btn btn-success font-weight-bold">{{ jour.numero }}</button>
                                    </td>
                                {% else %}
                                    {% if jour.numero is empty %}
                                        <td>
                                        </td>
                                    {% else %}
                                        <td class="m-0">
                                            <button type="button" data-visite=1 data-mois="{{ mois }}" data-jour="{{ jour.numero }}" style="width:100%;" data-backdrop="static" class="jour p-0 btn">{{ jour.numero }}</button>
                                        </td>
                                    {% endif %}
                                {% endif %}
                                {% if loop.index is divisible by (7) %}
                                    </tr>
                                    <tr>
                                {% endif %}
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% if loop.index is divisible by (4) %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>

    <div id="mySmallModal" class="modal bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm  modal-dialog-centered">
            <div class="modal-content">
                <div id="loadingDiv" class="text-primary spinner-border spinner-border-sm align-self-center my-3"></div>
                <div class="text-center text-secondary mb-2">Enregistrement</div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    let majeurName = $("#calendrier_filter_majeurNom");
    let majeurId = $("#calendrier_filter_majeurId");

    $(".jour").click(function(event) {
        let dialog = $('#mySmallModal');
        dialog.modal('show');

        const mois = this.dataset.mois;
        const jour = this.dataset.jour;
        const annee = $("#calendrier_filter_type2_annee").val();

        $.ajax({
            url: "{{ path('ajax_visite_toggle_visite') }}",
            dataType: "json",
            data: {
                "jour": jour,
                "mois": mois,
                "annee": annee,
                "majeurId": {{ majeur.id }}
            },

            success: function (reponse)
            {
                if (reponse['data'] == 1) { // visite supprimee
                    $(event.target).removeClass('btn-success');
                    $(event.target).removeClass('font-weight-bold');
                } else {
                    $(event.target).addClass('btn-success');
                    $(event.target).addClass('font-weight-bold');
                }
                dialog.modal('hide');
            },

            error: function(xhr, textStatus, errorThrown) {
                dialog.modal('hide');
            }
        });
    });
</script>
{% endblock %}